@CHARSET "UTF-8";
.main2{
	width:960px;
    overflow:hidden;
    margin:0 auto;
}
.main2 dl{
	padding:0;
    margin:0;
 
}
.main2 dl dt{
	width:950px;
     height:400px;
    margin:0 auto;
}
.main2 dl dt img{
	width:950px;
     height:400px;
}
.main2 p{
	float:left;
    padding:0 0 0 10px;
}
.main2 .left2{
	width:315px;
    overflow:hidden;
	float:left;
}
.main2 .right2{
	width:640px;
    overflow:hidden;
	float:right;
}