<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinming.mapper.EvaluateMapper">
  <resultMap id="BaseResultMap" type="com.pinming.pojo.Evaluate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="star" jdbcType="INTEGER" property="star" />
    <result column="evaluate" jdbcType="VARCHAR" property="evaluate" />
    <result column="evaluateman" jdbcType="VARCHAR" property="evaluateman" />
    <result column="imgpath" jdbcType="VARCHAR" property="imgpath" />
    <result column="evaluatetime" jdbcType="TIMESTAMP" property="evaluatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, star, evaluate, evaluateman, imgpath, evaluatetime
  </sql>

</mapper>