<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinming.mapper.EvaluateMapper">

  <select id="allEvaluateByGid"  resultType="com.pinming.model.EvaluateVG">
    SELECT ms.id,e.star,e.evaluate,e.evaluateman,e.imgpath,e.evaluatetime FROM evaluate e
    INNER JOIN mshopdeta ms
    on ms.id= e.id
    where ms.id=#{id}
  </select>
  <insert id="addEvaluate" parameterType="com.pinming.pojo.Evaluate" useGeneratedKeys="true" keyProperty="id">
    insert into evaluate(id,star,evaluate,imgpath,evaluateman,evaluatetime) values (#{id},#{star},#{evaluate},#{imgpath},#{evaluateman},#{evaluatetime})
  </insert>
</mapper>