<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinming.mapper.MtypeMapper">
  <resultMap id="BaseResultMap" type="com.pinming.pojo.Mtype">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mtype" jdbcType="VARCHAR" property="mtype" />
    <result column="listid" jdbcType="INTEGER" property="listid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mtype, listid
  </sql>

</mapper>