<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinming.mapper.PerfumeMapper">
    <select id="findByIndexAndSize" parameterType="map" resultType="com.pinming.pojo.Perfume">
        select * from c_perfume limit #{index},#{size}
    </select>

    <select id="count" resultType="int" parameterType="map">
        select count(*) from c_perfume
    </select>

    <select id="findById" parameterType="int" resultType="com.pinming.pojo.Perfume">
        select name,price,img from c_perfume where id=#{id}
    </select>

    <select id="findBySkintypeId" parameterType="int" resultType="com.pinming.pojo.Perfume">
        select c.*,s.typename from c_perfume c inner join c_skintype s on c.skintypeid = s.id
        where s.id= #{id}
    </select>

    <select id="findByBrandtypeId" parameterType="int" resultType="com.pinming.pojo.Perfume">
        select c.*,b.brandname from c_perfume c inner join c_brandtype b on c.brandid = b.id
        where b.id= #{id}
    </select>

    <select id="findByEfficacytyoeId" parameterType="int" resultType="com.pinming.pojo.Perfume">
        select c.*,b.efficacyname from c_perfume c inner join c_efficacytype b on c.efficacyid = b.id
        where b.id= #{id}
    </select>

    <select id="findAllAsc" resultType="com.pinming.pojo.Perfume" parameterType="double">
        select * from c_perfume order by price asc
    </select>

    <select id="findAllDesc" resultType="com.pinming.pojo.Perfume" parameterType="double">
        select * from c_perfume order by price desc
    </select>

    <select id="selectAll" resultType="com.pinming.pojo.Perfume" >
        select c.*,b.typename from c_perfume c inner join c_type b on c.typeId = b.id
        where b.id= #{id}
    </select>

    <select id="selectAllGoods" resultType="com.pinming.pojo.Perfume" >
        select c.*,b.efficacyname,s.typename,bt.brandname from c_skincare c
        inner join c_efficacytype b on c.efficacyid = b.id
        inner join c_brandtype bt on c.brandid = bt.id
        inner join c_skintype s on c.skintypeid = s.id
        where c.id= #{id}
    </select>
</mapper>